.bg-blue {background-color: var(--blue) !important;}
.bg-red {background-color: var(--red) !important;}
.bg-green {background-color: var(--green) !important;}
.bg-yellow {background-color: var(--yellow) !important;}
.bg-purple {background-color: var(--purple) !important;}
.bg-orange {background-color: var(--orange) !important;}
.bg-gray {background-color: var(--gray) !important;}
.bg-brown {background-color: var(--brown) !important;}
.bg-white {background-color: var(--white) !important;}
.bg-comp {background-color: var(--comp-color) !important;}
.bg-text {background-color: var(--text-color) !important;}
.bg-grayout {background-color: var(--grayout) !important;}
.bg-none {background-color: transparent !important;}

/******************************************************************/

._bg-blue {background-color: var(--blue);}
._bg-red {background-color: var(--red);}
._bg-green {background-color: var(--green);}
._bg-yellow {background-color: var(--yellow);}
._bg-purple {background-color: var(--purple);}
._bg-orange {background-color: var(--orange);}
._bg-gray {background-color: var(--gray);}
._bg-brown {background-color: var(--brown);}
._bg-white {background-color: var(--white);}
._bg-comp {background-color: var(--comp-color);}
._bg-text {background-color: var(--text-color);}
._bg-grayout {background-color: var(--grayout);}
._bg-none {background-color: transparent;}