.color-blue {color: var(--blue) !important;}
.color-purple {color: var(--purple) !important;}
.color-orange {color: var(--orange) !important;}
.color-yellow {color: var(--yellow) !important;}
.color-green {color: var(--green) !important;}
.color-red {color: var(--red) !important;}
.color-brown {color: var(--brown) !important;}
.color-black {color: var(--black) !important;}
.color-white {color: var(--white) !important;}
.color-gray {color: var(--gray) !important;}
.color-silver {color: var(--silver) !important;}
.color-text {color: var(--text-color) !important;}
.color-bg {color: var(--bg-color) !important;}
.color-comp {color: var(--comp-color) !important;}
.color-border {color: var(--border-color) !important;}

.focus-color-orange:focus-within p {color: var(--orange) !important;}
.focus-color-orange:focus-within {color: var(--orange) !important;}

.color-inherit {color: inherit !important;}

/*********************************************************************/

._color-blue {color: var(--blue);}
._color-purple {color: var(--purple);}
._color-orange {color: var(--orange);}
._color-yellow {color: var(--yellow);}
._color-green {color: var(--green);}
._color-red {color: var(--red);}
._color-brown {color: var(--brown);}
._color-black {color: var(--black);}
._color-white {color: var(--white);}
._color-gray {color: var(--gray);}
._color-silver {color: var(--silver);}
._color-text {color: var(--text-color);}
._color-bg {color: var(--bg-color);}
._color-comp {color: var(--comp-color);}
._color-border {color: var(--border-color);}

._focus-color-orange:focus-within p {color: var(--orange);}
._focus-color-orange:focus-within {color: var(--orange);}