.flex {display: flex !important;}
.block {display: block !important;}
.display-none {display: none !important;}

.grid {display: grid !important;}
.gtc-4 {grid-template-columns: repeat(4, 1fr) !important;}
.gtc-3 {grid-template-columns: repeat(3, 1fr) !important;}

/**********************************************************/

._flex {display: flex;}
._block {display: block;}
._display-none {display: none;}

._grid {display: grid;}
._gtc-4 {grid-template-columns: repeat(4, 1fr);}