.family1 {font-family: var(--family1) !important;}
.family2 {font-family: var(--family2) !important;}

.fs-xxl {font-size: calc(var(--base) * 2.5) !important;}
.fs-xl {font-size: calc(var(--base) * 2) !important;}
.fs-lg {font-size: calc(var(--base) * 1.5) !important;}
.fs-md {font-size: var(--base) !important;}
.fs-sm {font-size: calc(var(--base) * 0.75) !important;}
.fs-xs {font-size: calc(var(--base) * 0.5) !important;}
.fs-xxs {font-size: calc(var(--base) * 0.25) !important;}

.extra-bold {font-weight: 900 !important;}
.bold {font-weight: 700 !important;}
.semi-bold {font-weight: 600 !important;}

/*******************************************************************************/

._family1 {font-family: var(--family1);}
._family2 {font-family: var(--family2);}

._fs-xxl {font-size: calc(var(--base) * 2.5);}
._fs-xl {font-size: calc(var(--base) * 2);}
._fs-lg {font-size: calc(var(--base) * 1.5);}
._fs-md {font-size: var(--base);}
._fs-sm {font-size: calc(var(--base) * 0.75);}
._fs-xs {font-size: calc(var(--base) * 0.5);}
._fs-xxs {font-size: calc(var(--base) * 0.25);}

._bold {font-weight: 700;}
._semi-bold {font-weight: 600;}