.lh-xxxxl {line-height: calc(var(--base) * 3.5) !important;}
.lh-xxxl {line-height: calc(var(--base) * 3) !important;}
.lh-xxl {line-height: calc(var(--base) * 2.5) !important;}
.lh-xl {line-height: calc(var(--base) * 2) !important;}
.lh-lg {line-height: calc(var(--base) * 1.5) !important;}
.lh-md {line-height: var(--base) !important;}
.lh-sm {line-height: calc(var(--base) * 0.75) !important;}
.lh-xs {line-height: calc(var(--base) * 0.5) !important;}
.lh-xxs {line-height: calc(var(--base) * 0.25) !important;}

/**********************************************************/

._lh-xl {line-height: calc(var(--base) * 2);}
._lh-lg {line-height: calc(var(--base) * 1.5);}
._lh-md {line-height: var(--base);}
._lh-sm {line-height: calc(var(--base) * 0.75);}