.opacity-0 {opacity: 0 !important;}
.opacity-1 {opacity: 1 !important;}
.opacity-05 {opacity: 0.5 !important;}
.opacity-025 {opacity: 0.25 !important;}
.opacity-0125 {opacity: 0.125 !important;}

.focus-opacity-1:focus {opacity: 1 !important;}

/********************************************/

._opacity-0 {opacity: 0;}
._opacity-1 {opacity: 1;}
._opacity-025 {opacity: 0.25;}

._focus-opacity-1:focus {opacity: 1;}