.hidden {overflow: hidden !important;}
.overflow-visible {overflow: visible !important;}

/********************************************/

._hidden {overflow: hidden;}
._overflow-visible {overflow: visible;}