.padd-header {padding-top: var(--header-h) !important;}
.padd-footer {padding-bottom: calc(var(--footer-h) * 1.5) !important;}

.padd-0 {padding: 0 !important;}
.padd-xxxl {padding: calc(var(--base) * 3) !important;}
.padd-xxl {padding: calc(var(--base) * 2.5) !important;}
.padd-xl {padding: calc(var(--base) * 2) !important;}
.padd-lg {padding: calc(var(--base) * 1.5) !important;}
.padd-md {padding: var(--base) !important;}
.padd-sm {padding: calc(var(--base) * 0.75) !important;}
.padd-xs {padding: calc(var(--base) * 0.5) !important;}

.padd-0-xl {padding: 0 calc(var(--base) * 2) !important;}
.padd-0-lg {padding: 0 calc(var(--base) * 1.5) !important;}
.padd-0-md {padding: 0 var(--base) !important;}
.padd-0-sm {padding: 0 calc(var(--base) * 0.75) !important;}
.padd-0-xs {padding: 0 calc(var(--base) * 0.5) !important;}

.padd-xl-0 {padding: calc(var(--base) * 2)  0 !important;}
.padd-lg-0 {padding: calc(var(--base) * 1.5)  0 !important;}
.padd-md-0 {padding: var(--base)  0 !important;}
.padd-sm-0 {padding: calc(var(--base) * 0.75)  0 !important;}
.padd-xs-0 {padding: calc(var(--base) * 0.5)  0 !important;}

.padd-t-0 {padding-top: 0 !important;}
.padd-t-xxl {padding-top: calc(var(--base) * 2.5) !important;}
.padd-t-xl {padding-top: calc(var(--base) * 2) !important;}
.padd-t-lg {padding-top: calc(var(--base) * 1.5) !important;}
.padd-t-md {padding-top: var(--base) !important;}
.padd-t-sm {padding-top: calc(var(--base) * 0.75) !important;}
.padd-t-xs {padding-top: calc(var(--base) * 0.5) !important;}
.padd-t-xxs {padding-top: calc(var(--base) * 0.25) !important;}
.padd-t-xxxs {padding-top: calc(var(--base) * 0.125) !important;}

.padd-r-0 {padding-right: 0 !important;}
.padd-r-xxl {padding-right: calc(var(--base) * 2.5) !important;}
.padd-r-xl {padding-right: calc(var(--base) * 2) !important;}
.padd-r-lg {padding-right: calc(var(--base) * 1.5) !important;}
.padd-r-md {padding-right: var(--base) !important;}
.padd-r-sm {padding-right: calc(var(--base) * 0.75) !important;}
.padd-r-xs {padding-right: calc(var(--base) * 0.5) !important;}

.padd-l-0 {padding-left: 0 !important;}
.padd-l-xxl {padding-left: calc(var(--base) * 2.5) !important;}
.padd-l-xl {padding-left: calc(var(--base) * 2) !important;}
.padd-l-lg {padding-left: calc(var(--base) * 1.5) !important;}
.padd-l-md {padding-left: var(--base) !important;}
.padd-l-sm {padding-left: calc(var(--base) * 0.75) !important;}
.padd-l-xs {padding-left: calc(var(--base) * 0.5) !important;}
.padd-l-xxs {padding-left: calc(var(--base) * 0.25) !important;}
.padd-l-xxxs {padding-left: calc(var(--base) * 0.125) !important;}

.padd-b-0 {padding-bottom: 0 !important;}
.padd-b-0 {padding-bottom: 0 !important;}
.padd-b-xl {padding-bottom: calc(var(--base) * 2) !important;}
.padd-b-lg {padding-bottom: calc(var(--base) * 1.5) !important;}
.padd-b-md {padding-bottom: var(--base) !important;}
.padd-b-sm {padding-bottom: calc(var(--base) * 0.75) !important;}
.padd-b-xs {padding-bottom: calc(var(--base) * 0.5) !important;}

/*************************************************************/

._padd-0 {padding: 0;}
._padd-xxxl {padding: calc(var(--base) * 3);}
._padd-xxl {padding: calc(var(--base) * 2.5);}
._padd-xl {padding: calc(var(--base) * 2);}
._padd-lg {padding: calc(var(--base) * 1.5);}
._padd-md {padding: var(--base);}
._padd-sm {padding: calc(var(--base) * 0.75);}
._padd-xs {padding: calc(var(--base) * 0.5);}

._padd-0-xl {padding: 0 calc(var(--base) * 2);}
._padd-0-lg {padding: 0 calc(var(--base) * 1.5);}
._padd-0-md {padding: 0 var(--base);}
._padd-0-sm {padding: 0 calc(var(--base) * 0.75);}
._padd-0-xs {padding: 0 calc(var(--base) * 0.5);}

._padd-xl-0 {padding: calc(var(--base) * 2)  0;}
._padd-lg-0 {padding: calc(var(--base) * 1.5)  0;}
._padd-md-0 {padding: var(--base)  0;}
._padd-sm-0 {padding: calc(var(--base) * 0.75)  0;}
._padd-xs-0 {padding: calc(var(--base) * 0.5)  0;}

._padd-t-0 {padding-top: 0;}
._padd-t-xl {padding-top: calc(var(--base) * 2);}
._padd-t-lg {padding-top: calc(var(--base) * 1.5);}
._padd-t-md {padding-top: var(--base);}
._padd-t-sm {padding-top: calc(var(--base) * 0.75);}
._padd-t-xs {padding-top: calc(var(--base) * 0.5);}

._padd-r-xxl {padding-right: calc(var(--base) * 2.5);}
._padd-r-xl {padding-right: calc(var(--base) * 2);}
._padd-r-lg {padding-right: calc(var(--base) * 1.5);}
._padd-r-md {padding-right: var(--base);}
._padd-r-sm {padding-right: calc(var(--base) * 0.75);}
._padd-r-xs {padding-right: calc(var(--base) * 0.5);}

._padd-l-xxl {padding-left: calc(var(--base) * 2.5);}
._padd-l-xl {padding-left: calc(var(--base) * 2);}
._padd-l-lg {padding-left: calc(var(--base) * 1.5);}
._padd-l-md {padding-left: var(--base);}
._padd-l-sm {padding-left: calc(var(--base) * 0.75);}
._padd-l-xs {padding-left: calc(var(--base) * 0.5);}

._padd-b-0 {padding-bottom: 0;}
._padd-b-xl {padding-bottom: calc(var(--base) * 2);}
._padd-b-lg {padding-bottom: calc(var(--base) * 1.5);}
._padd-b-md {padding-bottom: var(--base);}
._padd-b-sm {padding-bottom: calc(var(--base) * 0.75);}
._padd-b-xs {padding-bottom: calc(var(--base) * 0.5);}