.top-0 {top: 0 !important;}
.top-xl {top: calc(var(--base) * 2) !important;}
.top-lg {top: calc(var(--base) * 1.5) !important;}
.top-md {top: var(--base) !important;}
.top-sm {top: calc(var(--base) * 0.75) !important;}
.top-xs {top: calc(var(--base) * 0.5) !important;}
.top-xxs {top: calc(var(--base) * 0.25) !important;}

.focus-top-0:focus-within p {top: 0 !important;}

.top-100 {top: 100% !important;}

/*************************************************/

._top-0 {top: 0;}
._top-md {top: var(--base);}
._top-lg {top: calc(var(--base) * 1.25);}

._focus-top-0:focus-within p {top: 0;}

._top-100 {top: 100%;}