.translate-y-full {transform: translateY(100%) !important;}
.translate-x-full {transform: translateX(100%) !important;}
.translate-x-200 {transform: translateX(200%) !important;}
.translate-x--87 {transform: translateX(-87%) !important;}
.translate-x--50 {transform: translateX(-50%) !important;}
.translate-x-42 {transform: translateX(-42%) !important;}
.transform-origin-50 {transform-origin: 50% 50% !important;}
.scale-1 {transform: scale(1) !important;}
.scale-1-1 {transform: scale(1.1) !important;}
.scale-075 {transform: scale(0.75) !important;}
.scale-0 {transform: scale(0) !important;}
.rotate-180 {transform: rotate(180deg) !important;}
.rotate-45 {transform: rotate(45deg) !important;}

/*************************************************/

._translate-y-full {transform: translateY(100%);}
._transform-origin-50 {transform-origin: 50% 50%;}
._translate-x--50 {transform: translateX(-50%);}